<div class="navigation col-lg-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a [routerLink]="['/home']" class="navbar-brand title">Social</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!hideMenus">
                    <a [routerLink]="['/login']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li *ngIf="!hideMenus">
                    <a [routerLink]="['/register']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-user"></span> Cadastrar-se</a>
                </li>
                <li *ngIf="hideMenus">
                    <a [routerLinkActive]="['active']" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>