.navigation .navbar * {
    color: white !important;
}

.navbar {
    min-height: 50px !important;
    margin-bottom: 20px !important;
}

.container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.navbar-right {
    float: right!important;
}

.navbar-nav>li {
    float: left;
}

.navbar-nav {
    flex-direction: inherit;
}

.title {
    font-size: 18px;
    text-transform: uppercase;
}

* {
    font-size: 14px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    text-decoration: none;
}

li {
    cursor: pointer;
}