body {
    background-color: #eeeeee;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.conteudo {
    padding-right: 33%;
    width: auto;
    padding-left: 33%;
}

* {
    font-size: 14px;
}

.btn-primary {
    background-color: #286090 !important
}

a {
    color: #286090 !important;
    text-decoration: none;
}

.card-footer {
    margin: 0px -7px 0px -7px;
}

.card-header {
    margin: 0px -7px 0px -7px;
}

.username {
    margin-left: 10px;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.pagination {
    margin-left: 25%;
}

.glyphicon {
    cursor: pointer;
}