<div class="container-fluid gedf-wrapper conteudo">
    <div class="row">
        <div class="card gedf-card">
            <form #timelineForm="ngForm" [formGroup]="myForm">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true" (click)="teste()">
                                Fazer Publicação</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <textarea class="form-control" id="message" rows="3" placeholder="No que você está pensando?" name="post" formControlName="post"></textarea>
                            </div>
    
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary" (click)="registerPublication()">publicar</button>
                        </div>
                        <div class="btn-group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <em class="fa fa-globe"></em>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card gedf-card" *ngFor="let post of timeline | paginate : {
            itemsPerPage: 10,
            currentPage: page,
            totalItems: totalItems
          }">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="assets/images/user.png" alt="imagem">
                        </div>
                        <div class="ml-2 username">
                            <div class="h7 text-muted">{{post.socialUserName}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <p class="card-text">
                    {{post.post}}
                </p>
            </div>
            <div class="card-footer">
                <a class="card-link" (click)="registerUpvote(post.id, post.yourVoted)">
                    <span class="glyphicon glyphicon-thumbs-up green" *ngIf="post.yourVoted === true"></span>
                    <span class="glyphicon glyphicon-thumbs-up grey" *ngIf="post.yourVoted === false"></span>
                    <em class="fa fa-gittip"></em> ({{post.upvotes}})</a>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls responsive="true" previousLabel="Anterior" nextLabel="Próximo" (pageChange)="pagination((page = $event))"></pagination-controls>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '10px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>