<div class="col-lg-5 conteudo">
    <h1 class="h1-strong">Login</h1>
    <div class="alert alert-danger" role="alert" *ngIf="alertError">
        Erro ao logar, verifique se o usuário ou senha são validos!
    </div>
    <form #loginForm="ngForm" [formGroup]="myForm" class="col-lg-12" (submit)="login()">
        <p>
            <label>Username</label>
            <input type="text" name="username" class="form-control" formControlName="username" />
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" class="form-control" formControlName="password" />
        </p>
        <input type="submit" value="Login" class="btn btn-success" [disabled]="!loginForm.form.valid">
    </form>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '10px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

