<div class="col-lg-5 conteudo">
    <h1 class="h1-strong">Cadastrar</h1>
    <form [formGroup]="myForm" class="col-lg-12" #registerForm="ngForm" (submit)="registers()">
        <div class="alert alert-success" role="alert" *ngIf="alertSuccess">
            Usuário cadastrado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="alertError">
            Erro ao cadastrar usuário!
        </div>
        <p>
            <label>Nome Completo</label>
            <input type="text" name="name" class="form-control" formControlName="name"/>
        </p>
        <p>
            <label>Nickname</label>
            <input type="text" name="nick" class="form-control" formControlName="nick"/>
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" class="form-control" formControlName="password"/>
        </p>
        <input type="submit" value="Cadastrar" class="btn btn-success" [disabled]="!registerForm.form.valid">
    </form>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '10px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>