.conteudo {
    padding-right: 33%;
    width: auto;
    padding-left: 33%;
}

p {
    font-size: 14px;
}

.btn {
    font-size: 14px;
}

input {
    font-size: 14px;
}

.alert {
    font-size: 14px;
}

.alertHide {
    display: none;
}

.alertShow {
    display: block;
}